* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid transparent;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* ------------------------------------------------------------ MENU ---------------------------*/

.bars {
  display: flex;
  width: 100%;
  position: sticky;
  padding: 3px;
  top: 0;
  z-index: 3;
  background-color: #28162c;
}

.abrir {
  padding: 10px;
  color: #fff;
  font-size: 20px;
}

.cerrar {
  color: #fff;
  font-size: 20px;
  padding: 31px 0px 0 25px;
}

.bars img {
  width: 100px;
}

.logo-mobile {
  display: block;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  width: 100%;
  height: 100%;
  padding: 0;
  position: fixed;
  left: -100%;
  background: #28162c;
  transition: left 1s;
  z-index: 3;
}

nav div {
  width: 100%;
}

nav ul li {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(61, 56, 61, 1);
}

nav ul li:hover {
  background: #0e0011;
}

nav ul li a {
  font-size: 15px;
  color: #fff;
}

.logo-desktop {
  display: none;
}

/* ----------------------------------------------------------------- HEADER ----------------------------------*/

.header {
  border: none !important;
  background-image: url(../imagens/photo-bg@3x.jpg);
  background-size: cover;
  height: 95vh;
}

.header h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  margin-top: 43%;
  color: #fff;
}

.header h1 span {
  color: #f79a2f;
}

.header h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.button-one,
.button-two,
.button-three {
  margin: auto;
  width: 254px;
  text-align: center;
  background: #f79a2f;
  padding: 22px 55px;
  border: none;
  border-radius: 35px;
  box-shadow: 0 1px 13px 0 rgba(247, 154, 47, 0.89);
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.button-one a,
.button-two a,
.button-three a {
  color: #fff;
}

/* ----------------------------------------------------------- SECÇÃO BIANCA ----------------------*/

.sobre-bianca {
  padding-top: 55px;
  background-color: #f8f8f8;
}

.sobre-bianca img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sobre-bianca h2 {
  color: #6e6761;
  padding: 15px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.sobre-bianca span {
  color: #f79a2f;
}

.sobre-bianca article p {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 15px;
  padding: 5px;
}

/* ----------------------------------------------------------- SECÇÃO VIDEO ----------------------*/

.videos {
  padding-top: 55px;
  background-color: #fff;
}

.videos h2 {
  padding: 5px;
  text-align: center;
  color: #6e6761;
  font-size: 24px;
  font-weight: 400;
}

.videos span {
  color: #f79a2f;
}

.videos h3,
.experiencias h3 {
  padding: 10px;
  text-align: center;
  color: #6e6761;
  font-size: 14px;
  font-weight: 400;
}

.videos div ul li img {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------------------------- SECÇÃO EXPERIENCIA CLIENTE ----------------------*/

.experiencias {
  padding-top: 55px;
  background-color: #f8f8f8;
}

.experiencias h2 {
  padding: 5px;
  text-align: center;
  color: #6e6761;
  font-size: 24px;
  font-weight: 400;
}

.experiencias span {
  color: #f79a2f;
}

.desaparecer {
  display: none;
}

.carousel {
  position: relative;
  width: 100%;
  height: 51vh;
  margin: auto;
  padding-top: 40px;
}

.carousel__image {
  width: 100%;
  height: 26vh;
  padding-right: 11%;
}

.img-name {
  display: flex;
  margin: auto;
}

.adulto {
  border-radius: 100%;
}

.adulto2 {
  height: auto;
  border-radius: 100%;
}

.nome-cliente {
  color: #6e6761;
  position: relative;
  margin: 25px;
}

.nome-negrito {
  font-weight: 900;
  color: rgb(19, 19, 19);
}

.carousel__track-container {
  width: 80%;
  background: transparent;
  height: 50vh;
  position: relative;
  overflow: hidden;
  margin: auto;
  padding-left: 8px;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ul-carousel {
  display: flex;
}

.carousel__button {
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  background: #ffffff;
  padding: 15px;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -14px;
  padding: 11px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.carousel__button--right {
  right: -13px;
  padding: 11px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.carousel__button img {
  width: 12px;
}

.seta {
  padding: 5px;
  color: #f79a2f;
}

.carousel__nav {
  display: none;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  width: 15px;
  height: 15px;
  margin: 0 12px;
  border: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.balao1 {
  margin: auto;
  background: #ffffff;
  font-family: "roboto";
  font-size: 0.85em;
  line-height: 1.5em;
  border-radius: 15px;
  width: 85%;
  height: auto;
  color: black;
  padding: 10px;
  position: relative;
  margin-bottom: 1%;
}

.balao1:after {
  /*Triangulo*/
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ffffff;
  bottom: -20px;
  left: 20%;
  transform: rotate(180deg);
}

.balao2 {
  margin: auto;
  background: #ffffff;
  font-family: "roboto";
  font-size: 0.85em;
  line-height: 1.5em;
  border-radius: 15px;
  width: 100%;
  height: auto;
  color: black;
  padding: 10px;
  position: relative;
}

.balao2:after {
  /*Triangulo*/
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ffffff;
  bottom: -20px;
  left: 20%;
  transform: rotate(180deg);
}

.is-hidden {
  display: none;
}

/*--------------------------------------------------------------- BLOG  -----------------------------*/

.blog {
  padding-top: 55px;
  background-color: #fff;
}

.blog h2 {
  text-align: center;
  color: #6e6761;
  font-size: 24px;
  font-weight: 400;
}

.blog div ul li article img {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.blog div ul li article h3 {
  padding: 10px;
  font-weight: 400;
  color: #6e6761;
}

.blog div ul li article p {
  padding: 0 10px;
  font-size: 14px;
  color: #545454;
}

.blog div ul li article a {
  padding: 10px;
  font-size: 14px;
  color: #f79a2f;
  font-weight: 300;
  cursor: pointer;
}

/*--------------------------------------------------------------- CONTATO  -----------------------------*/

.contato {
  padding: 0 !important;
  background-color: #fff;
}

.contato img {
  width: 100%;
  height: 50vh;
  position: relative;
}

.contato form {
  width: 90%;
  margin: auto;
  margin-top: -295px;
  margin-bottom: 20px;
  height: auto;
  position: relative;
  padding: 20px;
  background: #ffff;
  border-radius: 19px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.24);
}

.contato h2 {
  font-size: 39px;
  text-align: center;
  color: #545454;
}

.contato h3 {
  font-size: 14px;
  text-align: center;
  color: #393837;
  font-weight: 400;
  padding: 10px;
}

.contato input {
  height: 38px;
  padding: 0 0 0 10px;
}

.name,
.email,
textarea {
  display: flex;
  width: 100%;
  resize: none;
  outline: none;
  padding: 5px 0 0 10px;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  box-sizing: border-box;
}

.btt-enviar {
  width: 100%;
  height: 49px;
  margin-top: 21px;
  background-color: #f79a2f;
  border-radius: 100px;
  box-shadow: 0 1px 9px 0 #f79a2f;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.contato form span {
  font-size: 13px;
  color: #000000;
  padding-left: 10px;
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}

/*--------------------------------------------------------------- FOOTER  -----------------------------*/

.footer {
  background-color: #f8f8f8;
}

.copyright,
.redes {
  text-align: center;
}

.footer div ul {
  display: flex;
  justify-content: center;
}

.footer ul li a img {
  width: 80%;
}

.footer div ul li {
  margin: 5px;
}

@media only screen and (max-width: 812px) and (min-width: 320px) and (orientation: landscape) {
  .header h1 {
    margin-top: 2%;
    font-size: 40px;
  }

  .header h2 {
    font-size: 14px;
  }

  .contato form {
    margin-top: -125px;
  }
}

@media screen and (min-width: 600px) {
  .header h1 {
    font-size: 80px;
    width: 100%;
  }

  .header h2 {
    font-size: 20px;
  }

  .button-one,
  .button-two,
  .button-three {
    width: 300px;
  }

  .sobre-bianca {
    column-count: 2;
    column-gap: 10px;
  }

  .videos ul {
    display: flex;
    justify-content: center;
  }

  .desaparecer {
    display: block;
  }

  .experiencias {
    height: 84vh;
  }

  .img-name {
    width: 100%;
    padding: 12px 0 0 0;
  }

  .nome-cliente {
    padding: 25px 0 0 0;
    margin: 0;
  }

  .adulto2 {
    padding-top: 6px;
  }

  .balao2 {
    width: 90%;
  }

  .carousel {
    width: 100%;
    padding-top: 40px;
  }

  .carousel__track-container {
    width: 87%;
    height: 84vh;
  }

  .carousel__button--left {
    left: -2px;
  }

  .carousel__button--right {
    right: -5px;
  }

  .blog ul {
    display: flex;
    justify-content: center;
  }

  .contato form {
    width: 450px;
  }
}

@media screen and (min-width: 900px) {
  .bars {
    display: none;
  }

  .logo-desktop {
    display: block;
  }

  .logo-desktop img {
    width: 115px;
  }

  nav {
    height: 64px;
    padding: 0 8%;
    left: 0px;
    display: flex;
    justify-content: space-between;
    transition: none;
    position: sticky;
    top: 0;
    z-index: 3;
  }

  nav div {
    width: initial;
  }

  nav ul li {
    padding: 20px 10px 0px;
    float: left;
    border-bottom: none;
  }

  nav span {
    display: none;
  }

  nav ul li:hover {
    background: transparent;
  }

  nav ul li a:hover {
    color: #f79a2f;
  }

  nav ul li a {
    font-size: 17px;
    padding: 5px;
    font-weight: 400;
  }

  nav a {
    width: 12%;
    height: fit-content;
    padding-top: 12px;
  }

  .header {
    height: 100vh;
  }

  .header h1 {
    margin-top: 140px;
  }

  .header h2 {
    padding: 0 15%;
  }

  .sobre-bianca {
    padding-top: 70px;
  }

  .sobre-bianca h2 {
    font-size: 40px;
  }
  .sobre-bianca article {
    padding: 0px 7%;
  }

  .videos {
    padding-top: 70px;
  }

  .videos h2 {
    font-size: 40px;
  }

  .videos h3 {
    font-size: 15px;
  }

  .experiencias {
    padding-top: 70px;
  }

  .experiencias h2 {
    font-size: 40px;
  }

  .experiencias h3 {
    font-size: 15px;
  }

  .carousel {
    width: 60%;
    height: 61vh;
  }

  .carousel__track-container {
    height: 52vh;
  }

  .adulto {
    padding-left: 11%;
  }

  .adulto2 {
    padding-left: 6%;
  }

  .blog h2 {
    font-size: 40px;
  }

  .blog ul li {
    width: 28%;
  }

  .blog {
    padding-top: 70px;
  }

  .blog article {
    width: 100%;
  }

  .blog div ul li article img {
    margin: 0px;
  }

  .footer {
    height: 9vh;
  }

  .footer ul {
    position: absolute;
    margin-left: 138px;
    margin-top: -39px;
  }
  .redes {
    text-align: left;
    margin-top: 11px;
    position: relative;
  }
  .copyright {
    text-align: end;
    margin-top: -19px;
  }
}
